{% extends "static/base.html" %}

{% block content %}
<div class="section">
  <div class="container login-container">
    <div class="row">
      <div class="col s12 m6 offset-m3 l4 offset-l4">
        <form action="{% url 'login' %}" method="post" accept-charset="utf-8">
            <h2>Login</h2>
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="error-container">{{form.non_field_errors}}</div>
            {% endif %}
            {% for field in form %}
                <div class="input-field">
                {{ field }}
                <label for="{{field.auto_id}}">{{ field.label }}</label>
                </div>
            {% endfor %}
            <button type="submit" class="btn amber" md-raised-button>Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}